// font-size
$font-xl: 1.5rem; //24px
$font-l: 1.25rem; //20px
$font-m: 1.125rem; //18px
$font-df: 1rem; //16px
$font-s: .75rem; //12px
$font-xs: .5rem; //8px

// icon-size
$icon-xl: 3rem; //48px
$icon-l: 2.5rem; //40px
$icon-m: 2rem; //32px

// font-color
$primaryBlue: #1D2A54;
$secondary: #BA8F5A;
$darkRed: #9A0606;
$white: #FFFFFF;
$grey-100: #F3F3F3;
$grey-200: #D9D9D9;
$grey-300: #C9C9C9;
$grey-500: #6A6A6A;
$black: #171717;